{% extends "pos/base.html" %}

{% block title %}Stock{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        var table_article = $('#liste_articles').DataTable({
            "bInfo": false,
            language: {
                search: "",
                searchPlaceholder: "Recherche"
            },
        });

    });
</script>
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-12 table-responsive">
            <table id="liste_articles" class="table table-striped table-bordered " style="width:100%">
                <thead>
                    <tr>
                        <th>Categorie</th>
                        <th>Article</th>
                        <th>PAU</th>
                        <th>PVU detail</th>
                        <th>PVU en gros</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in liste_articles_en_catalogue %}
                        {% if article.couleur == 'yellow' %}
                        <tr style="background-color: yellow;">
                        {% elif article.couleur == 'red' %}
                        <tr style="background-color: red;">
                        {% else %}
                        <tr>
                            {% endif%}
                            <td><a href="{% url 'pos:mod_categorie' user.id article.categorie.id %}">{{ article.categorie }}</a></td>
                            <td><a href="{% url 'pos:mod_article' user.id article.id %}">{{ article.nom_article }}</a></td>
                            <td><a href="{% url 'pos:mod_article' user.id article.id %}">{{ article.PAU }}</a></td>
                            <td><a href="{% url 'pos:mod_article' user.id article.id %}">{{ article.PVU }}</a></td>
                            <td><a href="{% url 'pos:mod_article' user.id article.id %}">{{ article.PVG }}</a></td>
                            <td><a href="{% url 'pos:mod_entree' user.id article.id_derniere_entree %}">{{ article.en_stock }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1%; margin-top: 2%;">
        <div class="col-12">
            <a class="btn btn-primary float-right" href="#">Valeur totale du stock à l'achat : {{ val_stock_achat }} FCFA</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-12">
            <a class="btn btn-primary float-right" href="#">Valeur totale du stock à la vente au detail : {{ val_stock_vente }} FCFA</a>
        </div>
    </div>
</div>
{% endblock %}