{% extends "pos/base.html" %}

{% block title %}Vente{% endblock %}

{% block script %}
<script>
    let caisse;

    function update_montant_caisse() {
        montant_caisse = caisse;

        $('#montant_caisse').html(montant_caisse);
    }


    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'pos:vente' user.id %}",
            success: function (response) {
                caisse = response.caisse;
                console.log(caisse);
                update_montant_caisse();
            },
            error: function (response) {
                swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
            },
        });
        $('#encaissement_input_id').val(0);
        

        $('#enregistrer').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: "{% url 'pos:depot_petite_monnaie' user.id %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    montant_encaissement: $('#encaissement_input_id').val()
                },
                success: function (response) {
                    swal("Opération réussie!", "Dépot enregistré!", "success");
                    caisse = response.caisse;
                    console.log(caisse);

                    update_montant_caisse();
                    $('#encaissement_input_id').val(0);

                    reinitialiser_tableau_especes();
                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
                }
            });
        });

    });
</script>
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-12">
            <a class="btn btn-primary float-right" href="#">Caisse : <span id="montant_caisse"></span> FCFA</a>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-8">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    Espèces
                                    <input type="number" class="form-control" id="encaissement_input_id" min="0">
                                </div>
                                
                                <div class="form-group mb-2">
                                    <button class="btn btn-primary float-right" id="enregistrer">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}