{% extends "pos/base.html" %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block style %}
<style>
    
</style>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#enregister").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'pos:nouvelle_categorie' user.id %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    nom_categorie: $('#nom_categorie').val(),
                },
                success: function (response) {
                    swal("Opération réussie!", "Catégorie enregistrée!", "success").then(res => {
                        window.location = document.referrer;
                    });
                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
                }
            });
        });

    });
</script>
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="row col-12">
        <form style="width: 100%;">
            <div class="form-group">
              <label for="exampleFormControlInput1">Dénomination de la nouvelle catégorie</label>
              <input type="text" class="form-control" id="nom_categorie">
            </div>
            <button type="submit" id="enregister" class="btn btn-primary mb-2 float-right">Enregistrer</button>
        </form>
    </div>
</div>
{% endblock %}