{% extends "pos/base.html" %}

{% block title %}Vente{% endblock %}

{% block script %}
<script>
    let caisse;

    function update_montant_caisse() {
        montant_caisse = caisse;
        
        $('#montant_caisse').html(montant_caisse);
    }

    $(document).ready(function () {
        $('#select_client_id').select2({
            placeholder: "Choisir un client",
            allowClear: true,
            sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
        });

        $.ajax({
            type: 'GET',
            url: "{% url 'pos:vente' user.id %}",
            success: function (response) {
                caisse = response.caisse;
                console.log(caisse);
                update_montant_caisse();
            },
            error: function (response) {
                swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
            },
        });
        $('#encaissement_input_id').val(0);
        var table_article = $('#liste_articles').DataTable({
            "bInfo": false,
            language: {
                search: "",
                searchPlaceholder: "Recherche"
            }
        });
        var table_panier = $('#panier').DataTable({
            "bInfo": false,
            "paging": false,
            language: {
                search: "",
                searchPlaceholder: "Recherche"
            }
        });
        
        //update_montant();

        window['montant_panier'] = function() {
            montant = 0
            table_panier.rows().every(function () {
                var prix = this.data()[1];
                var quantite = this.data()[2];
                montant = montant + Number(prix) * Number(quantite)
            });
            return montant;
        }

        window['monnaie_a_rendre'] = function() {
            let encaissement_val = Number($('#encaissement_input_id').val());
            let montant = montant_panier();
            let monnaie = encaissement_val - Number(montant);

            return monnaie;
        }

        window['update_montant'] = function() {
            montant = montant_panier();
            let monnaie = monnaie_a_rendre();

            console.log(montant);
            $('#montant_total').html(`<div id="montant_total" class="row" style="margin-top: 15px; margin-left: 10px;">TOTAL : ` + montant + ` FCFA </div>`);

            update_monnaie();
            
        }
        
        update_montant();

        function update_monnaie() {
            let montant = montant_panier();
            let monnaie = monnaie_a_rendre();

            if (monnaie < 0) {
                monnaie = 0
            }

            $('#monnaie_id').replaceWith(`<input type="text" style="font-weight:bold" readonly class="form-control-plaintext" id="monnaie_id" value="MONNAIE: ` + monnaie + ` FCFA">`);
            
        }

        $('#reinitialiser-button').on('click', function (e) {
            e.preventDefault();
            
            $('#monnaie_id').replaceWith(`<input type="text" style="font-weight:bold" readonly class="form-control-plaintext" id="monnaie_id" value="MONNAIE: ` + 0 + ` FCFA">`);
            $('#encaissement_input_id').val(0);

        });

        $('#bouton_vendre').on('click', function (e) {
            e.preventDefault();
            
            liste_articles_a_vendre = new Object();

            table_panier.rows().every(function () {
                var article = this.data()[0];
                var quantite = this.data()[2];
                liste_articles_a_vendre[article] = quantite;
            });

            $.ajax({
                type: 'POST',
                url: "{% url 'pos:vente' user.id %}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    liste_articles_a_vendre: JSON.stringify(liste_articles_a_vendre),
                    client_id: $('#select_client_id').val(),
                    mode_paiement: $('#select_modepaiement_id').val()
                },
                success: function (response) {
                    swal("Opération réussie!", "Vente enregistrée!", "success");
                    caisse = response.caisse;
                    console.log(caisse);

                    //printJS({ printable: 'panier', type: 'html', css: ['/static/pos/bootstrap-4.0.0-dist/css/bootstrap.min.css'] })
            
                    
                    update_montant_caisse();
                    table_panier.clear().draw();
                    $('#monnaie_id').replaceWith(`<input type="text" style="font-weight:bold" readonly class="form-control-plaintext" id="monnaie_id" value="MONNAIE: ` + 0 + ` FCFA">`);
                    $('#encaissement_input_id').val(0);
                    update_montant();

                    $('#select_client_id').val('');
                    $('#select_modepaiement_id').val('liquide');
                    $('#select_client_id').select2({
                        placeholder: "Choisir un client",
                        allowClear: true,
                        sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
                    });

                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
                }
            });
        });

        //ajouter un article dans le panier
        $('#liste_articles tbody').on('click', 'tr', function () {
            var table_article_selected_row = table_article.row(this).data();

            if (table_article_selected_row[1] > 0) {

                table_article_selected_row[1]--;
                table_article.row(this).data(table_article_selected_row).draw();

                var can_add_row = true;
                table_panier.rows().every(function () {
                    var d = this.data();
                    if (d[0] == table_article_selected_row[0]) {
                        d[2]++;
                        table_panier.row(this).data(d).draw();
                        can_add_row = false;
                    }
                });
                if (can_add_row) {
                    table_panier.row.add([table_article_selected_row[0], table_article_selected_row[2], 1, `
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn btn-secondary ajouter">+</button>
                                                <button type="button" class="btn btn-secondary diminuer">-</button>
                                                <button type="button" class="btn btn-secondary supprimer">x</button>
                                            </div>`])
                        .draw(false);
                }

                update_montant();
            }

        });

        //bouttons action
        $('#panier tbody').on('click', '.ajouter', function () {
            var table_panier_selected_row = table_panier.row($(this).parents('tr')).data();
            var can_increase_quantity = true;

            table_article.rows().every(function () {
                var d = this.data();
                if (d[0] == table_panier_selected_row[0]) {
                    if (d[1] > 0) {
                        d[1]--;
                        table_article.row(this).data(d).draw();
                    } else {
                        can_increase_quantity = false;
                        return false
                    }
                }
            });

            if (can_increase_quantity) {
                table_panier.rows().every(function () {
                    var d = this.data();
                    if (d[0] == table_panier_selected_row[0]) {
                        d[2]++;
                        table_panier.row(this).data(d).draw();
                    }
                });
            }

            update_montant();
        });
        $('#panier tbody').on('click', '.diminuer', function () {
            var table_panier_selected_row = table_panier.row($(this).parents('tr')).data();
            var can_increase_quantity = true;

            table_panier.rows().every(function () {
                var d = this.data();
                if (d[0] == table_panier_selected_row[0]) {
                    if (d[2] > 1) {
                        d[2]--;
                        table_panier.row(this).data(d).draw();
                    } else {
                        can_increase_quantity = false;
                        return false;
                    }

                }
            });

            if (can_increase_quantity) {
                table_article.rows().every(function () {
                    var d = this.data();
                    if (d[0] == table_panier_selected_row[0]) {
                        d[1]++;
                        table_article.row(this).data(d).draw();
                    }
                });
            }

            update_montant();
        });

        $('#encaissement_input_id').keyup(function () {
            update_monnaie();
        });

        $('#panier tbody').on('click', '.supprimer', function () {
            var table_panier_selected_row = table_panier.row($(this).parents('tr')).data();

            table_article.rows().every(function () {
                var d = this.data();
                if (d[0] == table_panier_selected_row[0]) {
                    d[1] = d[1] + table_panier_selected_row[2];
                    table_article.row(this).data(d).draw();
                }
            });

            table_panier.row($(this).parents('tr')).remove().draw();

            update_montant();
        });

    });
</script>
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-12">
            <a class="btn btn-primary float-right" href="#">Caisse : <span id="montant_caisse"></span> FCFA</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 table-responsive">
            <table id="liste_articles" class="table table-striped table-bordered " style="width:100%">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Stock</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in liste_articles_en_catalogue %}
                    <tr>
                        <td>{{ article.nom_article }}</td>
                        <td>{{ article.en_stock }}</td>
                        <td>{{ article.PVU }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div class="">
                <div class="table-responsive" style="max-height: 350px;">
                    <table id="panier" class="table table-striped table-bordered " style="width:100%">
                        <thead>
                            <tr>
                                <th>Article</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row" style="margin-top: 15px; margin-right: 2%;">
                        <div class="col-12">
                            <div id="montant_total" class="float-right" style="font-weight:bold">TOTAL : 0 FCFA</div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                            {% csrf_token %}
                            <button id="bouton_vendre" style="margin-left: 1%;"
                                class="btn btn-outline-dark my-2 my-sm-0 float-right">Vendre</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--CLIENT-->
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="select_client_id">Choisir un client</label>
                        <select class="js-states form-control" id="select_client_id" name="client">
                            {% for client in liste_clients %}
                            <option value="{{client.id}}">{{client}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="select_modepaiement_id">Mode de paiement</label>
                        <select class="js-states form-control" id="select_modepaiement_id" name="modepaient">
                            <option value="liquide" selected>liquide</option>
                            <option value="compte">compte</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--FIN CLIENT-->

            <div class="row">
                <div class="col-12">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-8">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label>Espèces</label> 
                                    <input type="number" class="form-control" id="encaissement_input_id" min="0" >
                                </div>
                                
                                <div class="form-group mb-2">
                                    <button class="btn btn-primary float-right" id="reinitialiser-button">Réinitiliser</button>
                                </div>
                            </form>
                            
                            
                        </div>
                        <div class="col-4">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <input type="text" style="font-weight:bold" readonly class="form-control-plaintext"
                                        id="monnaie_id" value="MONNAIE: 0 FCFA">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}