{% extends "pos/base.html" %}

{% block title %}Liste des sorties{% endblock %}

{% block main %}
<div class="container">
    <h1 class="mt-4">Sorties List</h1>
    <table id="sortiesTable" class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Article</th>
                <th scope="col">Quantité</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sortiesTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'pos:sorties_list_data' arret_pk %}",
            "columns": [
                { "data": "numero_vente__date_vente" },
                { "data": "article" },
                { "data": "quantite" },
            ]
        });
    });
</script>
{% endblock %}