{% extends "pos/base.html" %}

{% block title %}Modifier entrée{% endblock %}

{% block style %}
<style>
    
</style>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#select_article_id').select2({
            placeholder: "Choisir un article",
            allowClear: true,
            sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
        });

        $("#enregister").on('click', function (e) {
            e.preventDefault();
            $('#enregister').attr('disabled', true);
            
            $.ajax({
                type: 'POST',
                url: "{% url 'pos:mod_entree' entree.id%}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    article_id: $('#select_article_id').val(),
                    quantite: $('#quantite_article').val()
                },
                success: function (response) {
                    swal("Opération réussie!", "Entrée enregistrée!", "success").then(res => {
                        //location.replace("/pos/" + "{{user.id}}" + "/controle/entrees/");
                        window.location = document.referrer;
                    });
                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
                }
            });
        });

        $("#annuler").on('click', function (e) {
            e.preventDefault();
            //location.replace("/pos/" + "{{user.id}}" + "/controle/entrees/");
            window.location = document.referrer;
        });

        $("#supprimer").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "{% url 'pos:sup_entree' user.id entree.id %}",
                success: function (response) {
                    swal("Opération réussie!", "Article supprimé!", "success").then(res => {
                        //location.replace("/pos/" + "{{user.id}}" + "/controle/entrees/");
                        window.location = document.referrer;
                    });
                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite. Contactez le +22665136188 si l'erreur persiste!", "error");
                }
            });
        });

    });
</script>
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-12">
        <a class="btn btn-primary mb-2 float-right" href="{% url 'pos:nouvelle_article' user.id %}" >Créer un article</a>
    </div>
    <div class="row col-12">
        <form style="width: 100%;">
            <div class="form-group">
                <label for="select_article_id">Choisir Un Article</label>
                <select class="js-states form-control" id="select_article_id" name="article">
                    <option value="" disabled selected hidden>Choisir</option>
                    <option value="{{entree.article.id}}" selected>{{entree.article.nom_article}}</option>
                    {% for article_item in liste_articles %}
                        {% if article_item.id !=  entree.article.id%}
                            <option value="{{article_item.id}}">{{article_item.nom_article}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Quantité</label>
              <input type="number" class="form-control" id="quantite_article" value="{{entree.quantite}}" min="1">
            </div>
            <button id="supprimer" class="btn btn-danger mb-2">Supprimer</button>
            <button type="submit" id="enregister" class="btn btn-success mb-2 float-right"
                style="margin-left: 5px;">Enregistrer</button>
            <button id="annuler" class="btn btn-primary mb-2 float-right">Annuler</button>
        </form>
    </div>
</div>
{% endblock %}